/* wybieramy class poszczególnych selectorów*/
article.featured-content {
  background: red;
}
div.featured-content {
  background: blue;
}

/*universal selector - może wybrać wszystkie typy z całej strony
różni się od body tym, że nadpisuje domyślne ustawienia przeglądarki jak np a href*/
* {
  font-style: italic;
}
