/*comment*/

p {
    font-size: 18px;
    color: blue;
}
/* targeting elements/tags */

p { 
    color: blue;
}

a {
    text-decoration: underline;
}

span {
    text-transform: uppercase;
}

h1 {
    font-size: 34px;
}

div {
    width: 100%;
    background-color: grey; 
}

